<%- include("outlines/headers"); -%>

<body>
  <style>
    h1 {
      font-size: 24px;
      color: #333;
      text-align: center;
    }
    table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 20px;
    }
    th, td {
      padding: 10px;
      text-align: left;
      border-bottom: 1px solid #ddd;
    }
    th {
      background-color: #f2f2f2;
    }
  </style>

  <h1>Search Results</h1>
  <table>
    <thead>
      <tr>
        <th>Class Name</th>
        <th>CRN</th>
        <th>Semester</th>
        <th>Department</th>
        <th>Instructor</th>
        <th>Credits</th>
        <th>Location</th>
        <th>Start Time</th>
        <th>Days</th>
        <th>GenEd ID</th>
        <th>Average GPA</th>
        <th>Rating</th>
      </tr>
    </thead>
    <tbody>
      <% for (var i = 0; i < classes.length; i++) { %>
        <tr>
          <td><%= classes[i].Title %></td>
          <td><%= classes[i].CRN %></td>
          <td><%= classes[i].Semester %></td>
          <td><%= classes[i].Department %></td>
          <td><%= classes[i].Instructor %></td>
          <td><%= classes[i].Credits %></td>
          <td><%= classes[i].BuildingName %></td>
          <td><%= classes[i].Time %></td>
          <td><%= classes[i].Day %></td>
          <td><%= classes[i].GenEdID %></td>
          <td><%= classes[i].avgGPA %></td>
          <td><%= classes[i].Rating %></td>
        </tr>
      <% } %>
    </tbody>
  </table>
</body>
</html>